# Machine Learning Prediction - Data Challenge

## by SNCF-Transilien

In [1]:
import pandas as pd

In [15]:
file_path = 'data/'

x = pd.read_csv(file_path + 'train_f_x.csv', index_col=0)

In [16]:
x

           station  job  ferie  vacances
date
2015-01-01     1J7    1      1         1
2015-01-01     O2O    1      1         1
2015-01-01     8QR    1      1         1
2015-01-01     UMC    1      1         1
2015-01-01     FK3    1      1         1
...            ...  ...    ...       ...
2022-12-31     V2P    0      0         1
2022-12-31     N9K    0      0         1
2022-12-31     P6E    0      0         1
2022-12-31     BDC    0      0         1
2022-12-31     W14    0      0         1

[1229863 rows x 4 columns]